<a href="https://colab.research.google.com/github/supatsara2002/bsc_dpdm22/blob/main/midterm_dpdm22.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

## การเตรียมข้อมูลประกอบด้วย กำจัด outlier, แก้ missing, normalization, one-hot-encoder และ อื่นๆ ที่นักศึกษาเห็นว่าเหมาะสม

# 1 ทำนายราคาบ้าน 10 คะแนน
เตรียมข้อมูลเพื่อทำนายราคาบ้าน ราคาประเมินบ้าน และ คะแนนทรัพย์ จาก [google drive](https://drive.google.com/drive/folders/1uIcUFY1yldIq-A3wijh2n2N6az-EljIe?usp=sharing) โดยข้อมูลที่เตรียมต้องประกอบด้วย columns ต่อไปนี้

* ```'renovate','number_of_rai','number_of_ngan','number_of_va','number_of_story','number_of_bedroom','number_of_bathroom','direction','furniture','usable_area','number_of_parking', 'sell_price'``` จากตาราง "คำตอบนักประเมิน(ID)"

* ```จำนวน 7-11 และ โรงเรียน ในรัศมี 200,500,1000,2000 เมตร (ตั้งชื่อ d200-7/11','d500-7/11',...,'d2000-7/11' แบะ ;d200-school','d500-school',...,'d2000-school')``` จากตาราง "7-eleven.json" และ "school.json"

* ```ประเมินราคาซื้อขาย และ คะแนนทรัพย์ (ตั้งชื่อ 'estimator' และ 'score')``` จากตาราง คำตอบนักประเมิน(ID) โดยราคาประเมินกับคะแนนทรัพย์ อ้างอิงของนักประเมิน ID=01 คนเดียว

In [228]:
import pandas as pd
import numpy as np
from pandas.io import json

In [229]:
from google.colab import drive
drive.mount('/content/drive')

Drive already mounted at /content/drive; to attempt to forcibly remount, call drive.mount("/content/drive", force_remount=True).

## import file

In [230]:
#คำตอบนักประเมิน(ID)
link1 = 'https://docs.google.com/spreadsheets/d/1e5O1uvod6T-Ry4q5vb8AN3GuuMPagrdB/export?format=xlsx'
detachedhouse = pd.read_excel(link1,sheet_name='บ้าน')

In [231]:
#Data House
link2 = 'https://docs.google.com/spreadsheets/d/1WnXqivn3E8JNRGGdORlKvPtRM3M6kM-H/export?format=xlsx'
H1 = pd.read_excel(link2,sheet_name='บ้านมือ1')
H2 = pd.read_excel(link2,sheet_name='บ้านมือ2')

In [232]:
#7-eleven.json
with open('/content/drive/MyDrive/bsc_DPDM_data/MIDterm/7-eleven.json') as json_file:
  seven_eleven = json.loads(json_file.read())

In [233]:
#school.json
with open('/content/drive/MyDrive/bsc_DPDM_data/MIDterm/school.json') as json_file:
  school = json.loads(json_file.read())

##คำตอบนักประเมิน(ID)

In [234]:
detachedhouse['second_hand'] = 'บ้านมือ 1'

In [235]:
detachedhouse.head()

,ID ผู้ประเมิน,post id,ID,property_type,ความมั่นใจในการเมินราคาทรัพย์,ราคาทรัพย์,ประเมินราคาซื้อ-ขาย,ปัจจัยในการประเมินราคาซื้อ-ขาย,เหตุผลไม่มั่นใจราคาประเมิน,ให้คะแนนทรัพย์,second_hand
0,1.0,https://nayoo.co/khonkaen/posts/1,1.0,บ้านเดี่ยว,มั่นใจ,390000.0,600000.0,"3,000-30,000 บาท/ตารางวา",NaN,4 ขายได้ ใช้ระยะเวลา 4 - 6 เดือน,บ้านมือ 1
1,2.0,https://nayoo.co/khonkaen/posts/1,1.0,บ้านเดี่ยว,มั่นใจ,390000.0,1300000.0,"ราคาเสนอขาย 1,000 - 3,000 บาท / ตารางวา",NaN,4 ขายได้ ใช้ระยะเวลา 4 - 6 เดือน,บ้านมือ 1
2,1.0,https://nayoo.co/khonkaen/posts/4,4.0,บ้านเดี่ยว,มั่นใจ,930000.0,750000.0,"2,000-10,000 บาท/ตารางวา",NaN,3 ขายได้ ใช้ระยะเวลา 7 - 12 เดือน,บ้านมือ 1
3,2.0,https://nayoo.co/khonkaen/posts/4,4.0,บ้านเดี่ยว,มั่นใจ,930000.0,1000000.0,"ราคาเสนอขาย 3,000 - 5,000 บาท/ตารางวา",NaN,4 ขายได้ ใช้ระยะเวลา 4 - 6 เดือน,บ้านมือ 1
4,1.0,https://nayoo.co/khonkaen/posts/16,16.0,บ้านเดี่ยว,มั่นใจ,2994000.0,2800000.0,"2,000-10,000 บาท/ตารางวา",NaN,2 ขายได้ยาก ใช้ระยะเวลามากว่า 1 ปี,บ้านมือ 1

###แก้ Missing

In [236]:
detachedhouse.isnull().any()

ID ผู้ประเมิน                     False
post id                           False
ID                                False
property_type                     False
ความมั่นใจในการเมินราคาทรัพย์     False
ราคาทรัพย์                         True
ประเมินราคาซื้อ-ขาย                True
ปัจจัยในการประเมินราคาซื้อ-ขาย     True
เหตุผลไม่มั่นใจราคาประเมิน         True
ให้คะแนนทรัพย์                     True
second_hand                       False
dtype: bool

In [237]:
# ราคาทรัพย์, ประเมินราคาซื้อ-ขาย
# เลือก Dropna เนื่องจากราคาทรัพย์และประเมินราคาซื้อ-ขาย ไม่สามารถแทนด้วยค่าเฉลี่ยหรือแทนด้วย 0 ได้ เพราะจะทำให้ความหมายเปลี่ยน
detachedhouse.dropna(subset=['ราคาทรัพย์'],inplace=True)
detachedhouse.dropna(subset=['ประเมินราคาซื้อ-ขาย'],inplace=True)

In [238]:
# ปัจจัยในการประเมินราคาซื้อ-ขาย, เหตุผลไม่มั่นใจราคาประเมิน, ให้คะแนนทรัพย์
# fillna ด้วยไม่มีฐานข้อมูล เนื่องจากถ้าเหตุผลไม่มั่นใจราคาประเมินไม่มีฐานข้อมูล(ก็คือกรอกไม่มั่นใจ) ทำให้ปัจจัยในการประเมินราคาซื้อ-ขายและให้คะแนนทรัพย์ไม่มีข้อมูลไปด้วย
detachedhouse['ปัจจัยในการประเมินราคาซื้อ-ขาย'] = detachedhouse['ปัจจัยในการประเมินราคาซื้อ-ขาย'].fillna('ไม่มีฐานข้อมูล') 
detachedhouse['ให้คะแนนทรัพย์'] = detachedhouse['ให้คะแนนทรัพย์'].fillna('ไม่มีฐานข้อมูล') 
# fillna ด้วยไม่มี เนื่องจากถ้ากรอกว่ามั่นใจจะทำให้คอลัมน์เหตุผลไม่มั่นใจราคาประเมินไม่มีข้อมูลของการไม่มั่นใจ
detachedhouse['เหตุผลไม่มั่นใจราคาประเมิน'] = detachedhouse['เหตุผลไม่มั่นใจราคาประเมิน'].fillna('ไม่มี')

In [239]:
detachedhouse.isnull().any()

ID ผู้ประเมิน                     False
post id                           False
ID                                False
property_type                     False
ความมั่นใจในการเมินราคาทรัพย์     False
ราคาทรัพย์                        False
ประเมินราคาซื้อ-ขาย               False
ปัจจัยในการประเมินราคาซื้อ-ขาย    False
เหตุผลไม่มั่นใจราคาประเมิน        False
ให้คะแนนทรัพย์                    False
second_hand                       False
dtype: bool

##Data House

In [240]:
H1['second_hand'] = 'บ้านมือ 1'
H2['second_hand'] = 'บ้านมือ 2'

In [241]:
table2 = pd.concat([H1, H2],ignore_index=True,sort=False)
table2.head()

,id,parent_id,project_name,province,district,sub_district,zip_code,zone_id,zone,property_type,...,land wide(m),land long(m),topsoil,corner,alley,has_pool,has_keycard,has_security,has_fitness,has_garden
0,314.0,41.0,ที สเปซ กลางเมือง,ขอนแก่น,เมืองขอนแก่น,เมืองเก่า,NaN,5.0,กลางเมือง-เมืองเก่า-กุดกว้าง,บ้านเดี่ยว,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1,315.0,41.0,ที สเปซ กลางเมือง,ขอนแก่น,เมืองขอนแก่น,เมืองเก่า,NaN,5.0,กลางเมือง-เมืองเก่า-กุดกว้าง,บ้านแฝด,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
2,316.0,41.0,ที สเปซ กลางเมือง,ขอนแก่น,เมืองขอนแก่น,เมืองเก่า,NaN,5.0,กลางเมือง-เมืองเก่า-กุดกว้าง,บ้านเดี่ยว,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
3,317.0,41.0,ที สเปซ กลางเมือง,ขอนแก่น,เมืองขอนแก่น,เมืองเก่า,NaN,5.0,กลางเมือง-เมืองเก่า-กุดกว้าง,บ้านเดี่ยว,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
4,318.0,41.0,ที สเปซ กลางเมือง,ขอนแก่น,เมืองขอนแก่น,เมืองเก่า,NaN,5.0,กลางเมือง-เมืองเก่า-กุดกว้าง,บ้านเดี่ยว,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN

In [242]:
home = table2[['id','latitude','longitude','renovate','number_of_rai','number_of_ngan','number_of_va','number_of_story','number_of_bedroom','number_of_bathroom','direction','furniture','usable_area','number_of_parking', 'sell_price','second_hand']]
home.head()

,id,latitude,longitude,renovate,number_of_rai,number_of_ngan,number_of_va,number_of_story,number_of_bedroom,number_of_bathroom,direction,furniture,usable_area,number_of_parking,sell_price,second_hand
0,314.0,16.392304,102.827926,NaN,NaN,NaN,50.00,2.0,4.0,3.0,0.0,0.0,185.0,2.0,3950000.0,บ้านมือ 1
1,315.0,16.392304,102.827926,NaN,NaN,NaN,40.00,2.0,4.0,3.0,0.0,0.0,165.0,2.0,3250000.0,บ้านมือ 1
2,316.0,16.392304,102.827926,NaN,NaN,NaN,77.25,2.0,4.0,3.0,0.0,0.0,260.0,2.0,6300000.0,บ้านมือ 1
3,317.0,16.392304,102.827926,NaN,NaN,NaN,81.25,2.0,6.0,5.0,0.0,0.0,343.0,3.0,6900000.0,บ้านมือ 1
4,318.0,16.392304,102.827926,NaN,NaN,NaN,55.00,2.0,4.0,4.0,0.0,0.0,223.0,2.0,4490000.0,บ้านมือ 1

### แก้ Missing

In [243]:
home.isnull().any()

id                    False
latitude               True
longitude              True
renovate               True
number_of_rai          True
number_of_ngan         True
number_of_va           True
number_of_story        True
number_of_bedroom      True
number_of_bathroom     True
direction              True
furniture              True
usable_area            True
number_of_parking      True
sell_price             True
second_hand           False
dtype: bool

In [244]:
home['direction'] = home['direction'].apply(np.str0)  
home['furniture'] = home['furniture'].apply(np.str0)

<ipython-input-244-ed33c574385f>:1: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  home['direction'] = home['direction'].apply(np.str0)
<ipython-input-244-ed33c574385f>:2: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  home['furniture'] = home['furniture'].apply(np.str0)

In [245]:
# แทนที่ 0.0 ด้วยไม่ระบุ เนื่องจากจะเปลี่ยนให้บ้านมือ1 เหมือนบ้านมือ2
home['direction'] = home['direction'].replace("0.0","ไม่ระบุ") 
home['furniture'] = home['furniture'].replace("0.0","ไม่ระบุ")

<ipython-input-245-9bc89910ee1f>:2: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  home['direction'] = home['direction'].replace("0.0","ไม่ระบุ")
<ipython-input-245-9bc89910ee1f>:3: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  home['furniture'] = home['furniture'].replace("0.0","ไม่ระบุ")

In [246]:
# fillna
home['renovate'] = home['renovate'].fillna('ไม่ระบุ') # fillna ด้วยไม่ระบุ
home['direction'] = home['direction'].fillna('ไม่ระบุ') # fillna ด้วยไม่ระบุสำหรับค่าว่าง
home['furniture'] = home['furniture'].fillna('ไม่ระบุ') # fillna ด้วยไม่ระบุสำหรับค่าว่าง
home[['number_of_rai', 'number_of_ngan','number_of_va','number_of_story','number_of_bedroom','number_of_bathroom','furniture','usable_area','number_of_parking']]  = home[['number_of_rai', 'number_of_ngan','number_of_va','number_of_story','number_of_bedroom','number_of_bathroom','furniture','usable_area','number_of_parking']].fillna(0) # fillna ด้วย 0 ในคอลัมน์ที่ไม่ม่ เช่น ที่จอดรถ

<ipython-input-246-57c5e0fbdcb3>:2: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  home['renovate'] = home['renovate'].fillna('ไม่ระบุ') # fillna ด้วยไม่ระบุ
<ipython-input-246-57c5e0fbdcb3>:3: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  home['direction'] = home['direction'].fillna('ไม่ระบุ') # fillna ด้วยไม่ระบุสำหรับค่าว่าง
<ipython-input-246-57c5e0fbdcb3>:4: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  home['furniture'] = home['furniture'].fillna('ไม่ระบุ') # fillna ด้วยไม่ระบุสำหรับค่าว่าง
/usr/local/lib/python3.8/dist-packages/pandas/core/frame.py:3641: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  self[k1] = value[k2]

In [247]:
# dropna sell_price,latitude,longitude เนื่องจากหากเลือกแทนด้วยค่าเฉลี่ยหรือแทนด้วยตัวเลขจะทำให้ความหมายเปลี่ยน
home.dropna(subset=['sell_price'],inplace=True)
home.dropna(subset=['latitude'],inplace=True)
home.dropna(subset=['longitude'],inplace=True)

/usr/local/lib/python3.8/dist-packages/pandas/util/_decorators.py:311: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  return func(*args, **kwargs)

In [248]:
home.head()

,id,latitude,longitude,renovate,number_of_rai,number_of_ngan,number_of_va,number_of_story,number_of_bedroom,number_of_bathroom,direction,furniture,usable_area,number_of_parking,sell_price,second_hand
0,314.0,16.392304,102.827926,ไม่ระบุ,0.0,0.0,50.00,2.0,4.0,3.0,ไม่ระบุ,ไม่ระบุ,185.0,2.0,3950000.0,บ้านมือ 1
1,315.0,16.392304,102.827926,ไม่ระบุ,0.0,0.0,40.00,2.0,4.0,3.0,ไม่ระบุ,ไม่ระบุ,165.0,2.0,3250000.0,บ้านมือ 1
2,316.0,16.392304,102.827926,ไม่ระบุ,0.0,0.0,77.25,2.0,4.0,3.0,ไม่ระบุ,ไม่ระบุ,260.0,2.0,6300000.0,บ้านมือ 1
3,317.0,16.392304,102.827926,ไม่ระบุ,0.0,0.0,81.25,2.0,6.0,5.0,ไม่ระบุ,ไม่ระบุ,343.0,3.0,6900000.0,บ้านมือ 1
4,318.0,16.392304,102.827926,ไม่ระบุ,0.0,0.0,55.00,2.0,4.0,4.0,ไม่ระบุ,ไม่ระบุ,223.0,2.0,4490000.0,บ้านมือ 1

In [249]:
home.dtypes

id                     object
latitude              float64
longitude             float64
renovate               object
number_of_rai         float64
number_of_ngan        float64
number_of_va          float64
number_of_story       float64
number_of_bedroom     float64
number_of_bathroom    float64
direction              object
furniture              object
usable_area           float64
number_of_parking     float64
sell_price            float64
second_hand            object
dtype: object

In [250]:
# เปลี่ยน data type
home['number_of_rai'] = home['number_of_rai'].apply(np.int64)
home['number_of_ngan'] = home['number_of_ngan'].apply(np.int64)
home['number_of_va'] = home['number_of_va'].apply(np.int64)
home['number_of_story'] = home['number_of_story'].apply(np.int64)
home['number_of_bedroom'] = home['number_of_bedroom'].apply(np.int64)
home['number_of_bathroom'] = home['number_of_bathroom'].apply(np.int64)
home['usable_area'] = home['usable_area'].apply(np.int64)
home['number_of_parking'] = home['number_of_parking'].apply(np.int64)
home['sell_price'] = home['sell_price'].apply(np.int64)

<ipython-input-250-76d84a888c05>:2: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  home['number_of_rai'] = home['number_of_rai'].apply(np.int64)
<ipython-input-250-76d84a888c05>:3: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  home['number_of_ngan'] = home['number_of_ngan'].apply(np.int64)
<ipython-input-250-76d84a888c05>:4: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  home['number_of_va'] = home['number_of_va'].apply(np.int64)
<ipython-input-250-76d84a888c05>:5: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  home['number_of_story'] = home['number_of_story'].apply(np.int64)
<ipython-input-250-76d84a888c05>:6: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  home['number_of_bedroom'] = home['number_of_bedroom'].apply(np.int64)
<ipython-input-250-76d84a888c05>:7: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  home['number_of_bathroom'] = home['number_of_bathroom'].apply(np.int64)
<ipython-input-250-76d84a888c05>:8: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  home['usable_area'] = home['usable_area'].apply(np.int64)
<ipython-input-250-76d84a888c05>:9: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  home['number_of_parking'] = home['number_of_parking'].apply(np.int64)
<ipython-input-250-76d84a888c05>:10: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  home['sell_price'] = home['sell_price'].apply(np.int64)

In [251]:
home.dtypes

id                     object
latitude              float64
longitude             float64
renovate               object
number_of_rai           int64
number_of_ngan          int64
number_of_va            int64
number_of_story         int64
number_of_bedroom       int64
number_of_bathroom      int64
direction              object
furniture              object
usable_area             int64
number_of_parking       int64
sell_price              int64
second_hand            object
dtype: object

In [252]:
home.head()

,id,latitude,longitude,renovate,number_of_rai,number_of_ngan,number_of_va,number_of_story,number_of_bedroom,number_of_bathroom,direction,furniture,usable_area,number_of_parking,sell_price,second_hand
0,314.0,16.392304,102.827926,ไม่ระบุ,0,0,50,2,4,3,ไม่ระบุ,ไม่ระบุ,185,2,3950000,บ้านมือ 1
1,315.0,16.392304,102.827926,ไม่ระบุ,0,0,40,2,4,3,ไม่ระบุ,ไม่ระบุ,165,2,3250000,บ้านมือ 1
2,316.0,16.392304,102.827926,ไม่ระบุ,0,0,77,2,4,3,ไม่ระบุ,ไม่ระบุ,260,2,6300000,บ้านมือ 1
3,317.0,16.392304,102.827926,ไม่ระบุ,0,0,81,2,6,5,ไม่ระบุ,ไม่ระบุ,343,3,6900000,บ้านมือ 1
4,318.0,16.392304,102.827926,ไม่ระบุ,0,0,55,2,4,4,ไม่ระบุ,ไม่ระบุ,223,2,4490000,บ้านมือ 1

##seven

In [253]:
import geopy.distance

In [254]:
seven_id = {} #สร้างdictionary ขึ้นมาเก็บจะได้ดึงข้อมูลมาเปรียบเทียบกันได้
for t in seven_eleven:
    l = list()
    for x in seven_eleven[t]:
        l.append(x['geometry']['location'])
    #print(t) #ID
    #print(l)
    seven_id[t]=l #seven_id ที่มีID คือ t มีสมาชิกคือ l

In [255]:
for z in home['id'].keys():
  print(z)

0
1
2
3
4
5
6
7
8
9
10
11
12
13
14
15
16
17
18
19
22
23
24
25
26
27
28
29
30
32
33
34
35
36
37
38
39
40
41
42
43
44
45
46
47
48
49
50
51
52
53
54
55
56
57
58
59
60
61
64
65
66
67
68
69
70
71
72
73
74
75
76
77
78
79
80
81
82
83
84
85
86
87
88
89
90
91
92
93
94
95
96
97
98
99
100
101
102
103
104
105
106
107
108
109
110
112
113
114
115
116
117
118
119
120
121
122
123
124
125
126
127
128
129
130
131
132
133
136
137
138
139
140
141
142
143
144
145
146
147
148
149
150
151
152
153
154
155
156
157
158
159
160
161
162
163
164
165
166
167
168
169
170
171
172
173
174
175
176
177
178
179
180
181
182
183
184
185
186
187
188
189
190
191
192
193
194
195
196
197
198
199
200
201
202
203
204
205
206
207
208
209
210
211
212
213
214
215
216
217
218
219
220
221
222
223
224
225
226
227
228
229
230
231
232
233
234
235
236
237
238
239
240
241
242
243
244
245
246
247
248
249
250
251
252
253
254
255
256
257
258
259
260
261
262
263
264
265
266
267
268
269
270
271
272
273
274
275
276
277
278
279
280
281
282
283
284
285
286
287
288
289
290
291
292
293
294
295
296
297
298
299
300
301
302
303
304
305
306
307
308
309
310
311
312
313
314
315
316
317
318
319
321
322
323
324
325
326
327
328
329
330
331
334
335
336
337
338
339
340
341
342
343
344
345
346
347
348
349
350
351
352
353
354
355
356
357
358
359
360
361
362
363
364
365
366
367
368
369
370
371
372
373
374
375
376
377
378
379
380
381
382
383
384
385
386
387
388
389
390
391
392
393
394
395
396
397
398
399
400
401
402
404
405
406
407
408
409
410
411
412
413
414
415
416
417
418
419
420
421
422
423
424
425
426
427
428
429
430
431
432
433
434
435
436
437
438
439
440
441
442
443
444
445
446
447
448
449
450
451
452
453
454
455
456
457
458
459
460
461
462
463
464
465
466
467
468
469
470
471
472
473
474
475
476
477
478
479
480
481
482
483
484
485
486
487
488
489
490
491
492
493
494
495
496
497
498
499
500
501
502
503
504
505
506
507
508
509
510
511
512
513
514
515
516
517
518
519
520
521
522
523
524
525
526
527
528
529
530
531
532
533
534
535
536
537
538
539
540
541
542
543
544
545
546
547
548
549
550
551
552
553
554
555
556
557
558
559
560
561
562
563
564
565
566
567
568
569
570
571
572
573
574
575
576
577
578
579
580
581
582
583
584
585
586
587
588
589
590
591
592
593
594
595
596
597
599
600
601
602
603
604
605
606
607
608
609
610
611
612
613
614
615
616
617
618
619
620
621
622
623
624
625
626
627
628
629
630
631
632
633
634
635
636
637
638
639
640
641
642
643
644
645
646
647
649
650
651
652
653
654
655
656
657
658
659
660
661
662
663
664
665
666
667
668
669
670
671
673
674
676
678
679
682
683
685
689
690
691
693
694
695
697
699
700
701
702
704
705
707
708
709
710
711
712
714
715
716
717
718
720
721
722
723
724
725
726
727
728
729
730
731
732
733
734
735
736
737
738
739
740
741
742
743
744
745
746
747
748
749
750
751
752
753
754
755
756
757
758
759
760
761
762
763
764
765
766
767
768
769
770
771
772
773
774
775
776
777
778
779
780
781
782
783
784
785
786
787
788
789
790
791
792
793
794
795
796
797
798
799
800
801
802
803
804
805
806
807
808
809
810
811
812
813
814
815
816
817
818
819
820
821
822
823
824
825
826
827
828
829
830
831
832
833
834
835
836
837
838
839
840
841
842
843
844
845
846
847
848
849
850
851
852
853
854
855
856
857
858
859
860
861
862
863
864
865
866
867
868
869
870
871
872
873
874
875
876
877
878
879
880
881
882
883
884
885
886
887
888
889
890
891
892
893
894
895
896
897
898
899
900
901
902
903
904
905
906
907
908
909
910
911
912
913
914
915
916
917
918
919
920
921
922
923
924
925
926
927
928
929
930
931
932
933
934
935
936
937
938
939
940
941
942
943
944
945
946
947
948
949
950
951
952
953
954
955
956
957
958
959
960
961
962
963
964
965
966
967
968
969
970
971
972
973
974
975
976
977
978
979
980
981
982
983
984
985
986
987
988
989
990
991
992
993
994
995
996
997
998
999
1000
1001
1002
1003
1004
1005
1006
1007
1008
1009
1010
1011
1012
1013
1014
1015
1016
1017
1018
1019
1020
1021
1022
1023
1024
1025
1026
1027
1028
1029
1030
1031
1032
1033
1034
1035
1036
1037
1038
1039
1040
1041
1042
1043
1044
1045
1046
1047
1048
1049
1050
1051
1052
1053
1054
1055
1056
1057
1058
1059
1060
1061
1062
1063
1064
1065
1066
1067
1068
1069
1070
1071
1072
1073
1074
1075
1076
1077
1078
1079
1080
1081
1082
1083
1084
1085
1086
1087
1088
1089
1090
1091
1092
1093
1094
1095
1096
1097
1098
1099
1100
1101
1102
1103
1104
1105
1106
1107
1108
1109
1110
1111
1112
1113
1114
1115
1116
1117
1118
1119
1121
1122
1123
1124
1125
1126
1127
1128
1129
1130
1131
1132
1133
1134
1135
1136
1137
1138
1139
1140
1141
1142
1143
1144
1145
1146
1147
1148
1149
1150
1151
1152
1153
1154
1155
1156
1157
1158
1159
1160
1161
1162
1163
1164
1165
1166
1167
1168
1169
1170
1171
1172
1173
1174
1175
1176
1177
1178
1179
1180
1181
1182
1183
1184
1185
1186
1187
1188
1189
1190
1191
1192
1193
1194
1195
1196
1197
1198
1199
1200
1201
1202
1203
1204
1205
1206
1207
1208
1209
1210
1211
1212
1213
1214
1215
1216
1217
1218
1219
1220
1221
1222
1223
1224
1225
1226
1227
1228
1229
1230
1231
1232
1233
1234
1235
1236
1237
1238
1239
1240
1241
1242
1243
1244
1245
1246
1247
1248
1249
1250
1251
1252
1253
1254
1255
1256
1257
1258
1259
1260
1261
1262
1263
1264
1265
1266
1267
1268
1269
1270
1271
1272
1273
1274
1275
1276
1277
1278
1279
1280
1281
1282
1283
1284
1285
1286
1287
1288
1289
1290
1291
1292
1293
1294
1295
1296
1297
1298
1299
1300
1301
1302
1303
1304
1305
1306
1307
1308
1309
1310
1311
1312
1313
1314
1315
1316
1317
1318
1319
1320
1321
1322
1323
1324
1325
1326
1327
1328
1329
1330
1331
1332
1333
1335
1338
1339
1340
1341
1343
1344
1345
1346
1347
1348
1349
1351
1352
1353
1354
1355
1356
1357
1358
1359
1360
1361
1363
1364
1365
1367
1369
1370
1372
1374
1375
1376
1377
1380
1384
1385
1386
1387
1389
1390
1391
1393
1394
1395
1396
1397
1398
1399
1400
1401
1402
1403
1404
1405
1406
1408
1409
1410
1411
1412
1413
1414
1415
1416
1417
1418
1419
1420
1421
1422
1423
1424
1425
1426
1427
1428
1429
1430
1431
1432
1433
1434
1435
1436
1437
1438
1439
1440
1441
1442
1443
1444
1445
1446
1447
1448
1449
1450
1451
1452
1453
1454
1455
1456
1457
1458
1459
1460
1461
1462
1463
1464
1465
1466
1467
1468
1469
1470
1471
1472
1473
1474
1475
1476
1477
1478
1479
1480
1481
1482
1484
1485
1486
1487
1488
1489
1490
1491
1492
1493
1494
1495
1496
1497
1498
1499
1500
1501
1502
1503
1504
1505
1506
1507
1508
1509
1510
1511
1512
1513
1514
1515
1516
1517
1518
1519
1520
1521
1522
1523
1524
1525
1526
1527
1528
1529
1530
1531
1532
1533
1534
1535
1536
1537
1538
1539
1540
1541
1542
1543
1544
1545
1546
1547
1548
1549
1550
1551
1552
1553
1554
1555
1556
1557
1558
1559
1560
1561
1562
1563
1564
1565
1566
1567
1568
1569
1570
1571
1572
1573
1574
1575
1576
1577
1578
1579
1580
1581
1582
1583
1584
1585
1586
1587
1588
1589
1590
1591
1592
1593
1594
1595
1596
1597
1598
1599
1600
1601
1602
1603
1604
1605
1606
1607
1608
1609
1610
1611
1612
1613
1614
1615
1616
1617
1618
1619
1620
1621
1622
1623
1624
1625
1626
1627
1628
1629
1630
1631
1632
1633
1634
1635
1636
1637
1638
1639
1640
1641
1642
1643
1644
1645
1646
1647
1648
1649
1650
1651
1652
1653
1654
1655
1656
1657
1658
1659
1660
1661
1662
1663
1664
1665
1666
1667
1668
1669
1670
1671
1672
1673
1674
1675
1676
1677
1678
1679
1680
1681
1682
1683
1684
1685
1686
1687
1688
1689
1690
1691
1692
1693
1694
1695
1696
1697
1698
1699
1700
1701
1702
1703
1704
1705
1706
1707
1708
1709
1710
1711
1712
1713
1714
1715
1716
1717
1718
1719
1720
1721
1722
1723
1724
1725
1726
1727
1728
1729
1730
1731
1732
1733
1734
1735
1736
1737
1738
1739
1740
1741
1742
1743
1744
1745
1746
1747
1748
1749
1750
1751
1752
1753
1754
1755
1756
1757
1758
1759
1760
1761
1762
1763
1764
1765
1766
1767
1768
1769
1770
1771
1772
1773
1774
1775
1776
1777
1778
1779
1780
1781
1782
1783
1784
1785
1786
1787
1788
1789
1790
1791
1792
1793
1794
1795
1796
1797
1798
1799
1800
1801
1802
1803
1804
1805
1806
1807
1808
1809
1810
1811
1812
1813
1814
1815
1816
1817
1818
1819
1820
1821
1822
1823
1824
1825
1826
1827
1828
1829
1830
1831
1832
1833
1834
1835
1836
1837
1838
1839
1840
1841
1842
1843
1844
1845
1846
1847
1848
1849
1850
1851
1852
1853
1854
1855
1856
1857
1858
1859
1860
1861
1862
1863
1864
1865
1866
1867
1868
1869
1870
1871
1872
1873
1874
1875
1876
1877
1878
1879
1880
1881
1882
1883
1884
1885
1886
1887
1888
1889
1890
1891
1892
1893
1894
1895
1896
1897
1898
1899
1900
1901
1902
1903
1904
1905
1906
1907
1908
1909
1910
1911
1912
1913
1914
1915
1916
1917
1918
1919
1920
1921
1922
1923
1924
1925
1926
1927
1928
1929
1930
1931
1932
1933
1934
1935
1936
1937
1938
1939
1940
1941
1942
1943
1944
1945
1946
1947
1948
1949
1950
1951
1952
1953
1954
1955
1956
1957
1958
1959
1960
1961
1962
1963
1964
1965
1966
1967
1968
1969
1970
1971
1972
1973
1974
1975
1976
1977
1978
1979
1980
1981
1982
1983
1984
1985
1986
1987
1988
1989
1990
1991
1992
1993
1994
1995
1996
1997
1998
1999
2000
2001
2002
2003
2004
2005
2006
2007
2008
2009
2010
2011
2012
2013
2014
2015
2016
2017
2018
2019
2020
2021
2022
2023
2024
2025
2026
2027
2028
2029
2030
2031
2032
2033
2034
2035
2036
2037
2038
2039
2040
2041
2042
2045
2046
2047
2048
2049
2050
2051
2052
2053
2054
2055
2056
2057
2058
2059
2060
2061
2062
2063
2064
2065
2066
2068
2069
2070
2071
2072
2073
2074
2075
2076
2077
2078
2079
2080
2081
2082
2083
2084
2085
2086
2087
2088
2089
2090
2091
2092
2093
2094
2095
2096
2097
2098
2099
2100
2101
2102
2103
2104
2105
2106
2107
2108
2109
2110
2111
2112
2113
2114
2115
2116
2117
2118
2119
2120
2121
2122
2123
2124
2125
2126
2127
2128
2129
2130
2131
2132
2133
2134
2135
2136
2137
2138
2139
2140
2141
2142
2143
2144
2145
2146
2147
2148
2149
2150
2151
2152
2153
2154
2155
2156
2157
2158
2159
2160
2161
2162
2163
2164
2165
2166
2167
2168
2169
2170
2171
2172
2173
2174
2175
2176
2177
2178
2179
2180
2181
2182
2183
2184
2185
2186
2187
2188
2189
2190
2191
2192
2193
2194
2195
2196
2197
2198
2199
2200
2201
2202
2203
2204
2205
2206
2207
2208
2209
2210
2211
2212
2213
2214
2215
2216
2217
2218
2219
2220
2221
2222
2223
2224
2225
2226
2227
2228
2229
2230
2231
2232
2233
2234
2235
2236
2237
2238
2239
2240
2241
2242
2243
2244
2245
2246
2247
2248
2249
2250
2251
2252
2253
2254
2255
2256
2257
2258
2259
2260
2261
2262
2263
2264
2265
2266
2267
2268
2269
2270
2271
2272
2273
2274
2275
2276
2277
2278
2279
2280
2281
2282
2283
2284
2285
2286
2287
2288
2289
2290
2291
2292
2293
2294
2295
2296
2297
2298
2299
2300
2301
2302
2303
2304
2305
2306
2307
2308
2309
2310
2311
2312
2313
2314
2315
2316
2317
2318
2319
2320
2321
2322
2323
2324
2325
2326
2327
2328
2329
2330
2331
2332
2333
2334
2335
2336
2337
2338
2339
2340
2341
2342
2343
2344
2345
2346
2347
2348
2349
2350
2351
2352
2353
2354
2355
2356
2357
2358
2359
2360
2361
2362
2363
2364
2365
2366
2367
2368
2369
2370
2371
2372
2373
2374
2375
2376
2377
2378
2379
2380
2381
2382
2383
2384
2385
2386
2387
2388
2389
2390
2391
2392
2393
2394
2395
2396
2397
2398
2399
2400
2401
2402
2403
2404
2405
2406
2407
2408
2409

In [256]:
for x in seven_id.keys():
  print(x)

1
4
6
7
9
11
16
17
18
19
20
21
22
23
24
25
26
28
29
30
31
32
33
35
36
38
40
491
493
494
495
496
497
498
499
508
509
510
511
512
513
515
517
518
519
520
521
522
523
524
525
526
527
528
529
531
532
533
534
535
536
537
538
539
540
541
542
543
545
546
547
548
549
550
551
552
553
554
555
557
558
560
561
562
563
564
565
566
567
568
569
570
571
572
573
574
575
576
577
578
579
580
581
582
583
584
585
586
587
588
589
590
591
592
593
594
595
596
597
598
600
601
602
603
604
605
606
607
608
609
610
611
612
613
614
615
616
617
618
619
620
621
622
623
624
625
626
627
628
629
631
632
633
634
635
636
637
638
639
640
641
642
643
644
645
646
647
648
649
650
651
652
653
654
655
656
657
658
659
660
661
662
663
664
665
666
667
668
669
670
671
672
673
674
675
676
677
678
679
680
681
682
683
684
685
686
687
688
689
690
691
692
693
694
695
696
697
698
699
700
701
702
703
704
705
706
707
708
709
710
711
712
713
714
715
716
717
718
719
720
721
722
758
759
760
761
1024
1033
1056
1057
1058
1061
1062
1063
1064
1065
1066
1067
1068
1070
1071
1073
1074
1077
1078
1079
1080
1081
1082
1084
1085
1086
1088
1089
1091
1092
1094
1096
1097
1098
1099
1100
1101
1102
1103
1105
1106
1107
1108
1110
1111
1112
1113
1119
1120
1121
1122
1123
1124
1125
1126
1127
1128
1129
1130
1131
1132
1133
1134
1135
1136
1137
1138
1139
1142
1143
1144
1145
1146
1148
1149
1150
1151
1155
1157
1161
1163
1173
1174
1175
1176
1177
1178
1179
1180
1181
1182
1183
1184
1185
1186
1188
1189
1190
1191
1192
1193
1195
1196
1197
1198
1199
1203
1208
1210
1212
1213
1214
1221
1223
1224
1225
1226
1227
1228
1229
1230
1231
1233
1234
1236
1239
1240
1241
1242
1243
1246
1247
1248
1249
1250
1252
1253
1254
1256
1259
1260
1261
1365
1368
1370
1394
1395
1396
1402
1405
1407
1424
1429
1443
1444
1445
1547
1550
1554
1557
1599
1600
1601
1608
1609
1614
1616
1617
1618
1619
1620
1638
1639
1640
1641
1643
1649
1650
1655
1657
1658
1662
1663
1682
1685
1686
1687
1688
1691
1706
1707
1709
1710
1711
1713
1714
1715
1716
1717
1718
1722
1723
1724
1725
1726
1727
1729
1730
1731
1732
1733
1734
1759
1760
1761
1764
1767
1828
1834
1836
1837
1838
1840
1858
1860
1861
1863
1866
1882
1884
1885
1888
1890
1892
1893
1894
1895
1897
1899
1901
1902
1906
1907
1913
1914
1915
1918
1921
1925
1926
1927
1931
1933
1935
1936
1937
1944
1945
1953
1954
1955
1956
1959
1960
1961
1962
1964
1965
1966
1977
1978
1979
1983
1985
1990
1991
1996
2004
2007
2010
2011
2017
2018
2021
2025
2026
2029
2031
2032
2033
2039
2040
2045
2048
2049
2050
2068
2070
2071
2075
2076
2078
2079
2082
2083
2084
2136
2138
2139
2142
2143
2151
2152
2153
2160
2164
2165
2167
2168
2169
2170
2171
2172
2173
2174
2176
2177
2180
2185
2186
2189
2193
2194
2195
2199
2200
2201
2202
2203
2204
2206
2207
2212
2215
2216
2217
2218
2219
2221
2231
2232
2233
2234
2235
2236
2237
2238
2239
2240
2241
2242
2243
2244
2245
2246
2247
2248
2249
2250
2251
2252
2253
2254
2255
2256
2257
2258
2259
2260
2261
2262
2263
2264
2265
2266
2267
2268
2269
2270
2271
2272
2273
2274
2275
2276
2277
2278
2279
2280
2281
2282
2283
2284
2285
2286
2287
2288
2289
2290
2291
2292
2293
2294
2295
2296
2297
2298
2299
2300
2301
2302
2303
2304
2305
2306
2307
2308
2309
2310
2311
2312
2313
2314
2315
2316
2317
2318
2319
2320
2321
2322
2323
2324
2325
2326
2327
2328
2329
2330
2331
2332
2492
2493
2499
2502
2510
2826
2828
2829
2833
2835
2837
2839
2845
2886
2966
3096
3097
3184
3185
3191
3193
3194
3195
3196
3201
3207
3208
3209
3210
3213
3216
3218
3219
3225
3226
3227
3231
3233
3235
3238
3239
3240
3241
3243
3245
3248
3250
3252
3258
3260
3265
3267
3269
3272
3273
3275
3281
3282
3286
3287
3288
3289
3291
3293
3296
3299
3301
3302
3304
3305
3307
3308
3309
3311
3315
3317
3318
3319
3320
3321
3338
3340
3341
3345
3357
3373
3392
3394
3404
3405
3407
3409
3410
3411
3412
3417
3418
3419
3420
3421
3428
3437
3441
3445
3446
3447
3449
3450
3451
3458
3464
3466
3470
3471
3475
3477
3478
3480
3481
3482
3483
3484
3485
3486
3487
3488
3489
3490
3491
3492
3497
3504
3506
3514
3515
3518
3521
3527
3528
3532
3534
3538
3540
3543
3547
3552
3553
3554
3559
3560
3561
3562
3576
3577
3580
3589
3590
3591
3592
3593
3594
3595
3596
3597
3598
3599
3601
3606
3607
3616
3617
3618
3622
3623
3625
3627
3660
3661
3670
3674
3691
3704
3705
3707
3708
3711
3713
3714
3719
3720
3721
3722
3723
3726
3728
3729
3730
3819
3837
3845
3863
3867
3870
3872
3873
3897
3898
3900
3901
3905
3971
3972
3973
3976
3978
3980
3981
3982
3983
3986
3987
3988
3989
3990
3991
4319
4843
4942
5129
5130
5133
5149
5193
5194
5195
5939
5940
5941
5942
5943
5944
5945
5946
5947
5948
5949
5950
5953
5954
5955
5956
5957
5959
5960
5961
5962
5963
5964
5965
5966
5967
5968
5969
5970
5971
5972
5973
5974
5975
5976
5977
5978
5979
5980
5981
5982
5983
5984
5985
5986
5987
5988
5989
5990
5991
5992
5993
5994
5995
5997
5998
6000
6001
6003
6004
6005
6006
6007
6008
6009
6010
6011
6012
6015
6016
6017
6018
6020
6021
6022
6023
6024
6025
6026
6028
6030
6031
6032
6033
6034
6035
6036
6037
6038
6039
6040
6041
6042
6043
6044
6045
6046
6047
6049
6050
6051
6052
6053
6054
6055
6056
6057
6058
6059
6060
6061
6062
6063
6064
6065
6066
6067
6068
6069
6070
6071
6072
6073
6075
6076
6077
6078
6079
6080
6081
6082
6083
6086
6087
6088
6090
6091
6092
6093
6094
6095
6096
6097
6098
6099
6100
6102
6103
6104
6105
6106
6107
6108
6109
6111
6112
6113
6114
6115
6116
6117
6118
6120
6121
6123
6124
6125
6126
6127
6128
6129
6130
6131
6132
6133
6134
6135
6138
6139
6140
6142
6144
6147
6148
6149
6150
6152
6156
6157
6158
6160
6161
6164
6166
6167
6168
6169
6173
6176
6178
6242
6253
6254
6255
6256
6258
6259
6263
6264
6265
6266
6269
6270
6272
6273
6274
6275
6278
6279
6280
6283
6284
6285
6286
6289
6290
6291
6292
6296
6297
6298
6302
6306
6310
6311
6313
6316
6319
6323
6326
6332
6333
6335
6337
6339
6342
6343
6344
6345
6349
6350
6351
6352
6354
6355
6357
6359
6360
6361
6362
6364
6365
6370
6372
6374
6375
6376
6377
6481
6623
6636
6639
6644
6645
6648
6686
6707
6732
6733
6758
6763
6815
6910
6913
6917
6918
6919
6927
6946
6960
7031
7032
7033
7034
7035
7036
7037
7042
7043
7044
7045
7063
7079
7083
7101
7103
7137
7138
7139
7146
7147
7154
7170
7176
7177
7179
7189
7212
7215
7254
7260
7304
7307
7308
7349
7350
7351
7420
7421
7422
7424
7439
7478
7542
7543
7545
7601
7605
7625
7626
7668
7669
7670
7676
7703
7704
7705
7706
7707
7708
7709
7710
7711
7712
7713
7721
7722
7723
7725
7732
7733
7739
7751
7752
7760
7764
7765
7773
7779
7794
7838
7840
7841
7848
7850
7851
7857
7858
7860
7865
7868
7889
7894
7895
7896
7897
7899
7938
7955
7956
7964
8026
8027
8046
8054
8055
8059
8060
8061
8062
8085
8089
8101
8120
8123
8132
8133
8155
8193
8226
8247
8258
8259
8282
8285
8295
8300
8321
8326
8334
8335
8340
8355
8356
8357
8359
8361
8362
8378
8381
8383
8385
8386
8387
8388
8389
8394
8399
8404
8405
8407
8408
8426
8436
8437
8438
8439
8468
8477
8487
8488
8492
8494
8499
8501
8514
8517
8526
8529
8531
8532
8536
8540
8541
8545
8555
8557
8560
8564
8565
8572
8600
8602
8612
8621
8635
8637
8648
8680
8682
8702
8725
8751
8753
8758
8768
8781
8835
8840
8898
8900
8908
8918
8924
8936
8939
8950
8957
8959
8968
8999
9032
9057
9066
9082
9094
9141
9143
9149
9152
9172
9181
9197
9203
9211
9215
9259
9275
9276
9332
9335
9339
9368
9370
9372
9379
9383
9407
9408
9415
9551
9579
9586
9589
9591
9595
9598
9600
9613
9645
9650
9669
9674
9675
9687
9689
9690
9694
9698
9711
9756
9765
9773
10314
10482
10486
10487
10502
10511
10515
10735
10870
10874
10883
10886
10915
11144
11186
11192
11212
11232
11243
11249
11264
11273
11550
11552
11559
11560
11569
11725
11868
11878
11886
11915
11917
11955
11978
12098
12099
12104
12106
12113
12134
12139
12215
12220
12223
12250
12310
12323
12392
12403
12423
12473
12520
12521
12551
12560
12565
12582
12603
12607
12626
12655
12657
12676
12680
12710
12749
12759
12762
12821
12839
12942
12943
12957
12984
12990
13015
13031
13045
13074
13110
13111
13113
13116
13118
13121
13124
13365
13368
13390
13391
13403
13411
13420
13430
13661
13669
13702
13780
13813
13815
13830
13852
13856
13867
13889
13904
13934
13955
13957
13972
13978
13983
13991
14017
14089
14214
14219
14263
14466
14472
14488
14501
14539
14567
14569
14570
14574
14576
14577
14592
14593
14594
14610
14622
14639
14668
14671
14672
14700
14814
14835
14839
14840
14846
14869
15089
15102
15110
15111
15114
15294
15351
15356
15358
15362
15364
15370
15378
15412
15429
16072
16658
16763
16824
16841
16921
16922
16967
16971
16997
17021
17024
17029
17032
17045
17090
17093
17095
17112
17114
17125
17127
17128
17131
17143
17145
17150
17177
17192
17229
17282
17284
17296
17311
17318
17325
17337
17384
17404
17405
17406
17407
17408
17410
17411
17415
17416
17418
17419
17420
17422
17423
17426
17428
17430
17431
17432
17434
17435
17441
17442
17445
17450
17455
17461
17464
17468
17478
17479
17483
17487
17488
17493
17496
17499
17503
17504
17505
17506
17507
17508
17509
17510
17511
17512
17514
17515
17516
17517
17518
17521
17525
17526
17527
17528
17529
17530
17531
17535
17536
17537
17538
17539
17540
17541
17545
17547
17548
17553
17555
17556
17561
17562
17569
17571
17590
17592
17595
17598
17601
17605
17609
17610
17611
17612
17613
17614
17615
17616
17618
17619
17620
17621
17622
17623
17625
17627
17628
17629
17630
17631
17632
17633
17634
17635
17636
17637
17638
17639
17642
17644
17645
17650
17651
17652
17653
17655
17657
17658
17659
17661
17663
17664
17665
17666
17667
17669
17671
17672
17673
17674
17676
17677
17678
17679
17680
17681
17682
17683
17684
17685
17686
17690
17692
17693
17694
17695
17697
17698
17702
17703
17704
17705
17706
17707
17708
17709
17710
17711
17712
17713
17714
17715
17716
17717
17718
17719
17720
17721
17722
17723
17724
17725
17726
17727
17728
17729
17730
17731
17732
17733
17734
17735
17736
17737
17738
17739
17740
17741
17742
17743
17744
17745
17746
17747
17748
17749
17750
17751
17752
17753
17754
17755
17756
17757
17758
17759
17760
17761
17762
17774
17776
17777
17778
17779
17780
17781
17782
17783
17784
17785
17786
17787
17788
17789
17790
17797
17798
17802
17806
17809
17813
17816
17819
17820
17824
17826
17827
17828
17829
17831
17833
17845
17848
17851
17852
17854
17856
17857
17861
17863
17864
17867
17869
17873
17874
17876
17878
17880
17881
17882
17883
17884
17885
17886
17887
17889
17905
17917
17919
17922
17923
17954
17959
18027
18058
18061
18066
18069
18071
18072
18073
18074
18075
18077
18078
18080
18084
18085
18090
18091
18092
18095
18097
18099
18101
18105
18106
18107
18108
18110
18111
18112
18113
18114
18115
18116
18117
18118
18126
18128
18129
18130
18132
18134
18135
18137
18141
18142
18144
18155
18156
18163
18166
18169
18171
18176
18182
18183
18185
18194
18198
18200
18202
18211
18305
18326
18327
18328
18329
18330
18331
18332
18334
18335
18338
18342
18344
18345
18346
18347
18348
18354
18355
18356
18358
18361
18362
18364
18366
18368
18369
18376
18377
18378
18379
18380
18381
18382
18383
18384
18385
18388
18390
18392
18396
18398
18416
18417
18418
18419
18420
18421
18422
18423
18424
18425
18426
18427
18428
18429
18430
18431
18432
18433
18434
18435
18436
18437
18438
18439
18440
18441
18442
18443
18454
18459
18461
18464
18465
18466
18467
18488
18490
18502
18505
18512
18515
18517
18533
18536
18537
18538
18541
18542
18543
18544
18545
18547
18548
18549
18550
18551
18552
18553
18554
18555
18556
18557
18558
18559
18564
18565
18566
18567
18568
18569
18570
18571
18572
18573
18574
18575
18576
18579
18580
18581
18585
18586
18587
18588
18589
18590
18591
18592
18593
18594
18595
18596
18597
18598
18601
18602
18603
18604
18605
18606
18607
18610
18612
18614
18616
18621
18622
18623
18624
18627
18628
18629
18633
18636
18686
18687
18700
18702
18704
18706
18707
18709
18711
18712
18718
18739
19104
19105
19107
19111
19156
19183
19219
19255
19256
19259
19260
19264
19265
19309
19334
19346
19353
19370
19371
19375
19383
19389
19391
19393
19396
19402
19434
19437
19440
19442
19445
19446
19450
19452
19453
19456
19461
19462
19463
19465
19466
19467
19468
19469
19470
19472
19473
19475
19476
19477
19478
19479
19480
19481
19482
19483
19487
19488
19491
19492
19493
19494
19495
19496
19500
19501
19502
19510
19512
19532
19561
19711
19813
19828
19831
19832
19836
19976
19995
20137
20144
20146
20147
20148
20164
20168
20214
20226
20254
20255
20320
20367
20433
20632
20728
20753
20966
20967
20982
21082
21222
21250
21258
21452
21601
21620
21658
21782
21910
22155
22553
22576
22724
22768
22797
22835
23044
23056
23057
23058
23170
23171
23175
23176
23184
23245
23307
23311
23312
23314
23318
23319
23324
23503
23522
23523
23525
23529
23533
23538
23584
23603
23604
23684
23695
23703
23760
23879
23887
23892
23893
23894
23898
24022
24026
24028
24029
24049
24176
24177
24178
24179
24180
24181
24182
101P
102P
103P
104P
105P
106P
107P
108P
109P
1010P
1011P
1012P
1013P
1014P
1015P
1016P
1017P
1018P
1019P
1020P
1021P
1022P
1023P
1024P
1025P
1026P
1027P
1028P
1029P
1030P
1031P
1032P
1033P
1034P
1035P
1036P
1037P
1038P
1040P
1041P
1042P
1043P
1044P
1045P
1046P
1047P
1048P
1057P
1058P
1059P
1060P
1061P
1062P
1063P
1064P
1065P
1066P
1067P
1068P
1069P
1070P
1071P
1072P
1073P
1074P
1075P
1076P
1077P
1078P
1079P
1080P
1081P
1082P
1083P
1084P
1086P
1087P
1088P
1089P
1090P
1097P
1098P
1099P
10100P
10102P
10103P
10104P
10105P
10106P
10107P
10108P
10109P
10110P
10111P
10112P
10113P
10114P
10115P
10116P
10117P
10118P
10119P
10120P
10121P
10122P
10124P
10125P
10126P
10127P
10128P
10129P
10130P
10131P
10132P
10133P
10135P
10136P
10137P
10138P
10139P
10140P
10142P
10143P
10144P
10145P
10146P
10147P
10148P
10149P
10150P
10151P
10152P
10153P
10154P
10155P
10156P
10157P
10158P
10159P
10160P
10161P
10162P
10163P
10164P
10165P
10166P
10167P
10168P
10169P
10170P
10171P
10172P
10173P
10174P
10175P
10176P
10177P
10178P
10179P
10180P
10181P
10182P
10183P
10184P
10185P
10186P
10187P
10188P
10189P
10190P
10191P
10193P
10194P
10195P
10196P
10197P
10198P
10199P
10200P
10201P
10202P
10203P
10204P
10205P
10206P
10208P
10209P
10210P
10211P
10212P
10213P
10214P
10215P
10216P
10217P
10218P
10219P
10220P
10221P
10222P
10223P
10224P
10225P
10226P
10227P
10228P
10229P
10230P
10231P
10232P
10233P
10234P
10235P
10236P
10237P
10238P
10239P
10242P
10243P
10244P
10245P
10246P
10247P
10248P
10249P
10250P
10251P
10252P
10253P
10254P
10255P
10257P
10258P
10259P
10261P
10262P
10263P
10264P
10265P
10266P
10267P
10268P
10269P
10270P
10271P
10272P
10273P
10274P
10275P
10276P
10277P
10278P
10279P
10280P
10282P
10285P
10286P
10287P
10289P
10290P
10291P
10292P
10293P
10294P
10295P
10296P
10297P
10298P
10299P
10300P
10301P
10303P
10304P
10305P
10306P
10307P
10308P
10309P
10310P
10311P
10312P
10313P
10314P
10315P
10316P
10317P
10318P
10319P
10320P
10321P
10322P
10323P
10324P
10325P
10326P
10327P
10328P
10329P
10330P
10331P
10332P
10333P
10334P
10335P
10336P
10337P
10338P
10339P
10340P
10341P
10342P
10343P
10344P
10346P
10347P
10349P
10352P
10353P
10356P
10357P
10358P
10359P
10360P
10361P
10362P
10363P
10365P
10366P
10367P
10368P
10369P
10370P
10371P
10372P
10373P
10374P
10375P
10376P
10377P
10378P
10380P
10381P
10383P
10384P
10385P
10386P
10387P
10388P
10389P
10390P
10391P
10392P
10393P
10394P
10396P
10397P
10398P
10399P
10401P
10402P
10403P
10404P
10407P
10408P
10409P
10410P
10413P
10414P
10416P
10417P
10418P
10419P
10420P
10421P
10422P
10426P
10427P
10428P
10429P
10430P
10431P
10432P
10433P
10434P
10435P
10436P
10437P
10438P
10439P
10440P
10441P
10442P
10443P
10444P
10445P
10446P
10447P
10448P
10449P
10450P
10451P
10452P
10453P
10454P
10455P
10456P
10457P
10458P
10459P
10460P
10462P
10463P
10464P
10465P
10466P
10467P
10469P
10470P
10471P
10472P
10473P
10474P
10475P
10476P
10478P
10479P
10481P
10482P
10483P
10484P
10487P
10488P
10489P
10490P
10491P
10492P
10493P
10494P
10495P
10496P
10497P
10498P
10499P
10500P
10501P
10502P
10504P
10505P
10506P
10507P
10508P
10509P
10510P
10511P
10512P
10513P
10514P
10516P
10517P
10518P
10519P
10522P
10523P
10524P
10526P
10527P
10528P
10529P
10530P
10531P
10532P
10533P
10534P
10535P
10536P
10537P
10538P
10539P
10540P
10541P
10542P
10543P
10544P
10545P
10546P
10547P
10548P
10549P
10550P
10551P
10552P
10553P
10554P
10555P
10556P
10558P
10560P
10561P
10562P
10563P
10564P
10565P
10567P
10568P
10569P
10570P
10572P
10573P
10574P
10575P
10576P
10577P
10578P
10579P
10580P
10581P
10582P
10583P
10584P
10585P
10586P
10587P
10588P
10589P
10590P
10591P
10592P
10593P
10594P
10595P
10597P
10598P
10599P
10600P
10601P
10602P
10603P
10604P
10605P
10606P
10607P
10608P
10609P
10610P
10611P
2026P
2027P
2028P
2029P
2030P
2031P
2032P
2033P
2034P
2035P
2036P
2037P
2038P
2039P
2040P
2041P
2042P
2043P
2044P
2045P
2046P
2047P
2048P
2049P
2050P
2051P
2052P
2053P
2054P
2055P
2056P
2057P
2058P
2059P
2060P
2061P
2062P
2063P
2064P
2065P
2066P
2067P
2068P
2069P
2070P
2071P
2072P
2073P
2074P
2075P
2076P
2077P
2078P
2079P
2080P
2081P
2082P
2083P
2084P
2085P
2086P
2087P
2088P
2089P
2090P
2091P
2092P
2093P
2094P
2095P
2096P
2097P
2098P
2099P
20100P
20102P
20103P
20104P
20105P
20106P
20107P
20108P
20109P
20110P
20111P
20112P
20114P
20115P
20116P
20117P
20118P
20119P
20120P
20121P
20122P
20123P
20124P
20125P
20126P
20127P
20128P
20129P
20130P
20131P
20132P
20133P
20134P
20135P
20136P
20137P
20138P
20139P
20140P
20141P
20142P
20143P
20144P
20145P
20146P
20147P
20148P
20149P
20150P
20151P
20152P
20153P
20154P
20155P
20156P
20157P
20158P
20159P
20160P
20161P
20162P
20163P
20164P
20165P
20166P
20167P
20168P
20169P
20170P
20171P
20172P
20173P
20174P
20175P
20176P
20177P
20178P
20179P
20180P
20181P
20182P
20183P
20184P
20185P
20186P
20187P
20188P
20189P
20190P
20191P
20192P
20193P
20194P
20195P
20196P
20197P
20198P
20199P
20200P
20201P
20202P
20203P
20204P
20205P
20206P
20207P
20208P
20209P
20210P
20211P
20212P
20213P
20214P
20215P
20216P
20217P
20218P
20219P
20220P
20221P
20222P
20223P
20224P
20225P
20226P
20227P
20228P
20229P
20230P
20231P
20232P
20233P
20234P
20235P
20236P
20237P
20238P
20239P
20240P
20241P
20242P
20243P
20244P
20245P
20246P
20247P
20248P
20249P
20250P
20251P
20252P
20253P
20254P
20255P
20256P
20257P
20258P
20259P
20260P
20261P
20262P
20263P
20264P
20265P
20266P
20267P
20268P
20269P
20270P
20271P
20272P
20273P
20274P
20275P
20276P
20277P
20278P
20279P
20280P
20281P
20282P
20283P
20284P
20285P
20286P
20287P
20288P
20289P
20290P
20291P
20292P
20293P
20294P
20295P
20296P
20297P
20298P
20299P
20300P
20301P
20302P
20303P
20304P
20305P
20307P
20308P
20309P
20310P
20311P
20312P
20313P
20314P
20315P
20316P
20317P
20318P
20319P
20320P
20321P
20322P
20323P
20324P
20325P
20326P
20327P
20328P
20329P
20330P
20331P
20332P
20333P
20334P
20335P
20336P
20337P
20338P
20339P
20340P
20341P
20342P
20343P
20344P
20345P
20346P
20347P
20348P
20349P
20350P
20351P
20352P
20353P
20354P
20355P
20356P
20357P
20358P
20362P
20363P
20364P
20365P
20369P
20370P
20371P
20372P
20373P
20375P
20377P
20378P
20379P
20380P
20381P
20382P
20383P
20385P
20387P
20388P
20390P
20391P
20395P
20396P
20397P
20398P
20399P
20400P
20401P
20402P
20408P
20409P
20410P
20411P
20412P
20413P
20414P
20415P
20416P
20417P
20418P
20419P
20420P
20421P
20423P
20424P
20425P
20426P
20427P
20428P
20432P
20434P
20435P
20436P
20437P
20439P
20440P
20441P
20442P
20443P
20444P
20445P
20446P
20447P
20448P
20449P
20450P
20451P
20452P
20453P
20454P
20455P
20456P
20457P
20458P
20459P
20460P
20461P
20462P
20463P
20464P
20465P
20466P
301P
302P
303P
304P
306P
307P
308P
309P
3010P
3011P
3012P
3013P
3014P
3015P
3016P
3017P
3018P
3019P
3020P
3021P
3022P
3023P
3024P
3025P
3026P
3027P
3028P
3029P
3030P
3031P
3032P
3033P
3034P
3035P
3036P
3037P
3038P
3039P
3040P
3041P
3042P
3043P
3044P
3045P
3046P
3047P
3048P
3049P
3050P
3051P
3052P
3053P
3054P
3055P
3056P
3057P
3058P
3059P
3060P
3061P
3062P
3064P
3065P
3066P
3067P
3068P
3069P
3070P
3071P
3072P
3073P
3074P
3075P
3076P
3077P
3078P
3079P
3080P
3081P
3082P
3083P
3084P
3085P
3086P
3087P
3088P
3089P
3090P
3091P
3092P
3093P
3094P
3095P
3096P
3097P
3098P
3099P
30100P
30101P
30102P
30103P
30104P
30105P
30106P
30107P
30108P
30109P
30110P
30111P
30112P
30113P
30114P
30115P
30116P
30117P
30118P
30119P
30120P
30121P
30122P
30123P
30124P
30125P
30126P
30127P
30128P
30129P
30130P
30131P
30132P
30133P
30134P
30135P
30136P
30137P
30138P
30139P
30140P
30141P
30142P
30143P
30144P
30145P
30146P
30147P
30148P
30149P
30150P
30151P
30152P
30153P
30154P
30155P
30156P
30157P
30158P
30159P
30160P
30161P
30162P
30163P
30164P
30165P
30166P
30167P
30168P
30169P
30170P
30171P
30172P
30173P
30174P

In [257]:
record_list = []
for id in home['id']:
    try:
        id_int = int(id)
    except ValueError:
        continue

    this_home = home[home['id'] == id_int]
    h_lat = this_home['latitude'].values[0]
    h_long = this_home['longitude'].values[0]
    this_seven_id = seven_id.get(str(id_int), [])
    if not this_seven_id:
        continue
    seven_dist = []
    loc1 = [h_lat, h_long]
    for seven in this_seven_id:
        loc2 = [seven['lat'], seven['lng']]
        dist = geopy.distance.geodesic(loc1, loc2).m
        seven_dist.append(dist)
    record_dict = {}
    record_dict['id'] = id_int
    record_dict['d200-7/11'] = sum(np.array(seven_dist) < 200)
    record_dict['d500-7/11'] = sum(np.array(seven_dist) < 500)
    record_dict['d1000-7/11'] = sum(np.array(seven_dist) < 1000)
    record_dict['d2000-7/11'] = sum(np.array(seven_dist) < 2000)
    record_list.append(record_dict)
seven_table = pd.DataFrame(record_list)

In [258]:
seven_table.head()

   id  d200-7/11  d500-7/11  d1000-7/11  d2000-7/11
0  16          0          0           1           2
1  18          0          0           0           4
2  19          0          0           1           4
3  20          0          1           3           5
4  23          0          1           3          11

In [259]:
seven_table.shape

(879, 5)

##school

In [260]:
school_id = {}
for t in school:
    l = list()
    for x in school[t]:
        l.append(x['geometry']['location'])
    #print(t)
    #print(l)
    school_id[t]=l

In [261]:
record_list = []
for id in home['id']:
    try:
        id_int = int(id)
    except ValueError:
        continue

    this_home = home[home['id'] == id_int]
    h_lat = this_home['latitude'].values[0]
    h_long = this_home['longitude'].values[0]
    this_school_id = school_id.get(str(id_int), [])
    if not this_school_id:
        continue
    school_dist = []
    loc1 = [h_lat, h_long]
    for school in this_school_id:
        loc2 = [school['lat'], school['lng']]
        dist = geopy.distance.geodesic(loc1, loc2).m
        school_dist.append(dist)
    record_dict = {}
    record_dict['id'] = id_int
    record_dict['d200-school'] = sum(np.array(school_dist) < 200)
    record_dict['d500-school'] = sum(np.array(school_dist) < 500)
    record_dict['d1000-school'] = sum(np.array(school_dist) < 1000)
    record_dict['d2000-school'] = sum(np.array(school_dist) < 2000)
    record_list.append(record_dict)
school_table = pd.DataFrame(record_list)

In [262]:
school_table.head()

    id  d200-school  d500-school  d1000-school  d2000-school
0  321            0            0             0             0
1  325            0            0             0             0
2  326            0            0             0             1
3  334            0            0             0             0
4  341            0            0             0             0

In [263]:
school_table.shape

(1051, 5)

### รวมตาราง seven, school

In [264]:
home['id']= home['id'].replace({'P': ''}, regex=True)

<ipython-input-264-9d5e25d0782a>:1: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  home['id']= home['id'].replace({'P': ''}, regex=True)

In [265]:
home

,id,latitude,longitude,renovate,number_of_rai,number_of_ngan,number_of_va,number_of_story,number_of_bedroom,number_of_bathroom,direction,furniture,usable_area,number_of_parking,sell_price,second_hand
0,314.0,16.392304,102.827926,ไม่ระบุ,0,0,50,2,4,3,ไม่ระบุ,ไม่ระบุ,185,2,3950000,บ้านมือ 1
1,315.0,16.392304,102.827926,ไม่ระบุ,0,0,40,2,4,3,ไม่ระบุ,ไม่ระบุ,165,2,3250000,บ้านมือ 1
2,316.0,16.392304,102.827926,ไม่ระบุ,0,0,77,2,4,3,ไม่ระบุ,ไม่ระบุ,260,2,6300000,บ้านมือ 1
3,317.0,16.392304,102.827926,ไม่ระบุ,0,0,81,2,6,5,ไม่ระบุ,ไม่ระบุ,343,3,6900000,บ้านมือ 1
4,318.0,16.392304,102.827926,ไม่ระบุ,0,0,55,2,4,4,ไม่ระบุ,ไม่ระบุ,223,2,4490000,บ้านมือ 1
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
2405,20460,16.480110,102.574033,no,0,0,73,1,2,1,ไม่ระบุ,ไม่ระบุ,108,0,437400,บ้านมือ 2
2406,20462,16.528551,102.411762,no,0,0,84,1,2,1,ไม่ระบุ,ไม่ระบุ,119,0,714600,บ้านมือ 2
2407,20463,15.867444,102.482085,no,0,1,45,2,1,1,ไม่ระบุ,ไม่ระบุ,188,0,451000,บ้านมือ 2
2408,20466,16.636912,102.105343,no,0,1,59,2,1,1,ไม่ระบุ,ไม่ระบุ,207,0,910000,บ้านมือ 2
2409,30358,16.053072,102.805940,no,0,1,33,2,2,1,ไม่ระบุ,ไม่ระบุ,213,0,650000,บ้านมือ 2

In [291]:
home.drop_duplicates(subset='id')

,id,latitude,longitude,renovate,number_of_rai,number_of_ngan,number_of_va,number_of_story,number_of_bedroom,number_of_bathroom,direction,furniture,usable_area,number_of_parking,sell_price,second_hand
0,314.0,16.392304,102.827926,ไม่ระบุ,0,0,50,2,4,3,ไม่ระบุ,ไม่ระบุ,185,2,3950000,บ้านมือ 1
1,315.0,16.392304,102.827926,ไม่ระบุ,0,0,40,2,4,3,ไม่ระบุ,ไม่ระบุ,165,2,3250000,บ้านมือ 1
2,316.0,16.392304,102.827926,ไม่ระบุ,0,0,77,2,4,3,ไม่ระบุ,ไม่ระบุ,260,2,6300000,บ้านมือ 1
3,317.0,16.392304,102.827926,ไม่ระบุ,0,0,81,2,6,5,ไม่ระบุ,ไม่ระบุ,343,3,6900000,บ้านมือ 1
4,318.0,16.392304,102.827926,ไม่ระบุ,0,0,55,2,4,4,ไม่ระบุ,ไม่ระบุ,223,2,4490000,บ้านมือ 1
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
2394,30336,16.325266,102.871054,ไม่ระบุ,0,0,0,1,3,1,ไม่ระบุ,มีบางส่วน,258,0,2300000,บ้านมือ 2
2395,30339,16.541658,102.759666,ไม่ระบุ,0,0,0,0,3,2,ไม่ระบุ,ตกแต่งครบ,155,0,6500000,บ้านมือ 2
2396,30340,16.541678,102.759666,ไม่ระบุ,0,0,0,0,3,4,ไม่ระบุ,ตกแต่งครบ,250,0,9500000,บ้านมือ 2
2398,30342,16.356065,102.601876,no,0,3,10,0,4,3,ไม่ระบุ,ไม่ระบุ,213,0,1299100,บ้านมือ 2
2409,30358,16.053072,102.805940,no,0,1,33,2,2,1,ไม่ระบุ,ไม่ระบุ,213,0,650000,บ้านมือ 2

In [292]:
seven_school = pd.concat([seven_table, school_table],ignore_index=True,sort=False)
seven_school = seven_school.fillna(0)

In [293]:
seven_school = seven_school.drop_duplicates(subset='id')

In [294]:
seven_school

,id,d200-7/11,d500-7/11,d1000-7/11,d2000-7/11,d200-school,d500-school,d1000-school,d2000-school
0,16,0.0,0.0,1.0,2.0,0.0,0.0,0.0,0.0
1,18,0.0,0.0,0.0,4.0,0.0,0.0,0.0,0.0
2,19,0.0,0.0,1.0,4.0,0.0,0.0,0.0,0.0
3,20,0.0,1.0,3.0,5.0,0.0,0.0,0.0,0.0
4,23,0.0,1.0,3.0,11.0,0.0,0.0,0.0,0.0
...,...,...,...,...,...,...,...,...,...
1871,19465,0.0,0.0,0.0,0.0,0.0,1.0,2.0,7.0
1872,19466,0.0,0.0,0.0,0.0,0.0,1.0,1.0,3.0
1878,19476,0.0,0.0,0.0,0.0,1.0,1.0,2.0,3.0
1891,19502,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
1920,23503,0.0,0.0,0.0,0.0,0.0,0.0,1.0,2.0

In [296]:
home.merge(seven_school, how='left', on='id')

ValueError: ignored

## detachedhouse

###ประเมินคนที่ 1

In [269]:
dh1 = detachedhouse[detachedhouse['ID ผู้ประเมิน']==1]
dh1.head()

,ID ผู้ประเมิน,post id,ID,property_type,ความมั่นใจในการเมินราคาทรัพย์,ราคาทรัพย์,ประเมินราคาซื้อ-ขาย,ปัจจัยในการประเมินราคาซื้อ-ขาย,เหตุผลไม่มั่นใจราคาประเมิน,ให้คะแนนทรัพย์,second_hand
0,1.0,https://nayoo.co/khonkaen/posts/1,1.0,บ้านเดี่ยว,มั่นใจ,390000.0,600000.0,"3,000-30,000 บาท/ตารางวา",ไม่มี,4 ขายได้ ใช้ระยะเวลา 4 - 6 เดือน,บ้านมือ 1
2,1.0,https://nayoo.co/khonkaen/posts/4,4.0,บ้านเดี่ยว,มั่นใจ,930000.0,750000.0,"2,000-10,000 บาท/ตารางวา",ไม่มี,3 ขายได้ ใช้ระยะเวลา 7 - 12 เดือน,บ้านมือ 1
4,1.0,https://nayoo.co/khonkaen/posts/16,16.0,บ้านเดี่ยว,มั่นใจ,2994000.0,2800000.0,"2,000-10,000 บาท/ตารางวา",ไม่มี,2 ขายได้ยาก ใช้ระยะเวลามากว่า 1 ปี,บ้านมือ 1
6,1.0,https://nayoo.co/khonkaen/posts/18,18.0,บ้านเดี่ยว,มั่นใจ,5300000.0,4500000.0,"3,000-60,000 บาท/ตารางวา",ไม่มี,2 ขายได้ยาก ใช้ระยะเวลามากว่า 1 ปี,บ้านมือ 1
8,1.0,https://nayoo.co/khonkaen/posts/20,20.0,บ้านเดี่ยว,มั่นใจ,2000000.0,3600000.0,"3,000-30,000 บาท/ตารางวา",ไม่มี,2 ขายได้ยาก ใช้ระยะเวลามากว่า 1 ปี,บ้านมือ 1

In [270]:
dh1['ให้คะแนนทรัพย์'].value_counts()

3 ขายได้ ใช้ระยะเวลา 7 - 12 เดือน     890
2 ขายได้ยาก ใช้ระยะเวลามากว่า 1 ปี    313
4 ขายได้ ใช้ระยะเวลา 4 - 6 เดือน        8
1 ขายไม่ได้แน่นอน                       3
ไม่มีฐานข้อมูล                          1
Name: ให้คะแนนทรัพย์, dtype: int64

In [271]:
dh1.groupby(['ให้คะแนนทรัพย์']).count()

,ID ผู้ประเมิน,post id,ID,property_type,ความมั่นใจในการเมินราคาทรัพย์,ราคาทรัพย์,ประเมินราคาซื้อ-ขาย,ปัจจัยในการประเมินราคาซื้อ-ขาย,เหตุผลไม่มั่นใจราคาประเมิน,second_hand
ให้คะแนนทรัพย์,,,,,,,,,,
1 ขายไม่ได้แน่นอน,3,3,3,3,3,3,3,3,3,3
2 ขายได้ยาก ใช้ระยะเวลามากว่า 1 ปี,313,313,313,313,313,313,313,313,313,313
3 ขายได้ ใช้ระยะเวลา 7 - 12 เดือน,890,890,890,890,890,890,890,890,890,890
4 ขายได้ ใช้ระยะเวลา 4 - 6 เดือน,8,8,8,8,8,8,8,8,8,8
ไม่มีฐานข้อมูล,1,1,1,1,1,1,1,1,1,1

In [272]:
dh1 = dh1.dropna(subset=['ราคาทรัพย์','ประเมินราคาซื้อ-ขาย'])
dh1.head()

,ID ผู้ประเมิน,post id,ID,property_type,ความมั่นใจในการเมินราคาทรัพย์,ราคาทรัพย์,ประเมินราคาซื้อ-ขาย,ปัจจัยในการประเมินราคาซื้อ-ขาย,เหตุผลไม่มั่นใจราคาประเมิน,ให้คะแนนทรัพย์,second_hand
0,1.0,https://nayoo.co/khonkaen/posts/1,1.0,บ้านเดี่ยว,มั่นใจ,390000.0,600000.0,"3,000-30,000 บาท/ตารางวา",ไม่มี,4 ขายได้ ใช้ระยะเวลา 4 - 6 เดือน,บ้านมือ 1
2,1.0,https://nayoo.co/khonkaen/posts/4,4.0,บ้านเดี่ยว,มั่นใจ,930000.0,750000.0,"2,000-10,000 บาท/ตารางวา",ไม่มี,3 ขายได้ ใช้ระยะเวลา 7 - 12 เดือน,บ้านมือ 1
4,1.0,https://nayoo.co/khonkaen/posts/16,16.0,บ้านเดี่ยว,มั่นใจ,2994000.0,2800000.0,"2,000-10,000 บาท/ตารางวา",ไม่มี,2 ขายได้ยาก ใช้ระยะเวลามากว่า 1 ปี,บ้านมือ 1
6,1.0,https://nayoo.co/khonkaen/posts/18,18.0,บ้านเดี่ยว,มั่นใจ,5300000.0,4500000.0,"3,000-60,000 บาท/ตารางวา",ไม่มี,2 ขายได้ยาก ใช้ระยะเวลามากว่า 1 ปี,บ้านมือ 1
8,1.0,https://nayoo.co/khonkaen/posts/20,20.0,บ้านเดี่ยว,มั่นใจ,2000000.0,3600000.0,"3,000-30,000 บาท/ตารางวา",ไม่มี,2 ขายได้ยาก ใช้ระยะเวลามากว่า 1 ปี,บ้านมือ 1

### ประเมินคนที่ 2

In [273]:
dh2 = detachedhouse[detachedhouse['ID ผู้ประเมิน']==2]
dh2.head()

,ID ผู้ประเมิน,post id,ID,property_type,ความมั่นใจในการเมินราคาทรัพย์,ราคาทรัพย์,ประเมินราคาซื้อ-ขาย,ปัจจัยในการประเมินราคาซื้อ-ขาย,เหตุผลไม่มั่นใจราคาประเมิน,ให้คะแนนทรัพย์,second_hand
1,2.0,https://nayoo.co/khonkaen/posts/1,1.0,บ้านเดี่ยว,มั่นใจ,390000.0,1300000.0,"ราคาเสนอขาย 1,000 - 3,000 บาท / ตารางวา",ไม่มี,4 ขายได้ ใช้ระยะเวลา 4 - 6 เดือน,บ้านมือ 1
3,2.0,https://nayoo.co/khonkaen/posts/4,4.0,บ้านเดี่ยว,มั่นใจ,930000.0,1000000.0,"ราคาเสนอขาย 3,000 - 5,000 บาท/ตารางวา",ไม่มี,4 ขายได้ ใช้ระยะเวลา 4 - 6 เดือน,บ้านมือ 1
5,2.0,https://nayoo.co/khonkaen/posts/16,16.0,บ้านเดี่ยว,มั่นใจ,2994000.0,3500000.0,ราคาเสนอขาย 2000 - 3000 บาท/ตารางวา,ไม่มี,3 ขายได้ ใช้ระยะเวลา 7 - 12 เดือน,บ้านมือ 1
7,2.0,https://nayoo.co/khonkaen/posts/18,18.0,บ้านเดี่ยว,มั่นใจ,5300000.0,4500000.0,ราคาเสนอขาย 4.0 - 5.0 ล้านบาท/หลัง,ไม่มี,3 ขายได้ ใช้ระยะเวลา 7 - 12 เดือน,บ้านมือ 1
9,2.0,https://nayoo.co/khonkaen/posts/20,20.0,บ้านเดี่ยว,มั่นใจ,2000000.0,2500000.0,ราคาเสนอขาย 2.2-3.0 ล้านบาท/หลัง,ไม่มี,3 ขายได้ ใช้ระยะเวลา 7 - 12 เดือน,บ้านมือ 1

In [274]:
dh2['ให้คะแนนทรัพย์'].value_counts()

3 ขายได้ ใช้ระยะเวลา 7 - 12 เดือน     428
4 ขายได้ ใช้ระยะเวลา 4 - 6 เดือน      122
2 ขายได้ยาก ใช้ระยะเวลามากว่า 1 ปี     15
ไม่มีฐานข้อมูล                          2
5 ขายง่าย ใช้ระยะเวลา 1 - 3 เดือน       1
Name: ให้คะแนนทรัพย์, dtype: int64

In [275]:
dh2.groupby(['ให้คะแนนทรัพย์']).count()

,ID ผู้ประเมิน,post id,ID,property_type,ความมั่นใจในการเมินราคาทรัพย์,ราคาทรัพย์,ประเมินราคาซื้อ-ขาย,ปัจจัยในการประเมินราคาซื้อ-ขาย,เหตุผลไม่มั่นใจราคาประเมิน,second_hand
ให้คะแนนทรัพย์,,,,,,,,,,
2 ขายได้ยาก ใช้ระยะเวลามากว่า 1 ปี,15,15,15,15,15,15,15,15,15,15
3 ขายได้ ใช้ระยะเวลา 7 - 12 เดือน,428,428,428,428,428,428,428,428,428,428
4 ขายได้ ใช้ระยะเวลา 4 - 6 เดือน,122,122,122,122,122,122,122,122,122,122
5 ขายง่าย ใช้ระยะเวลา 1 - 3 เดือน,1,1,1,1,1,1,1,1,1,1
ไม่มีฐานข้อมูล,2,2,2,2,2,2,2,2,2,2

In [276]:
dh2 = dh2.dropna(subset=['ราคาทรัพย์','ประเมินราคาซื้อ-ขาย'])
dh2.head()

,ID ผู้ประเมิน,post id,ID,property_type,ความมั่นใจในการเมินราคาทรัพย์,ราคาทรัพย์,ประเมินราคาซื้อ-ขาย,ปัจจัยในการประเมินราคาซื้อ-ขาย,เหตุผลไม่มั่นใจราคาประเมิน,ให้คะแนนทรัพย์,second_hand
1,2.0,https://nayoo.co/khonkaen/posts/1,1.0,บ้านเดี่ยว,มั่นใจ,390000.0,1300000.0,"ราคาเสนอขาย 1,000 - 3,000 บาท / ตารางวา",ไม่มี,4 ขายได้ ใช้ระยะเวลา 4 - 6 เดือน,บ้านมือ 1
3,2.0,https://nayoo.co/khonkaen/posts/4,4.0,บ้านเดี่ยว,มั่นใจ,930000.0,1000000.0,"ราคาเสนอขาย 3,000 - 5,000 บาท/ตารางวา",ไม่มี,4 ขายได้ ใช้ระยะเวลา 4 - 6 เดือน,บ้านมือ 1
5,2.0,https://nayoo.co/khonkaen/posts/16,16.0,บ้านเดี่ยว,มั่นใจ,2994000.0,3500000.0,ราคาเสนอขาย 2000 - 3000 บาท/ตารางวา,ไม่มี,3 ขายได้ ใช้ระยะเวลา 7 - 12 เดือน,บ้านมือ 1
7,2.0,https://nayoo.co/khonkaen/posts/18,18.0,บ้านเดี่ยว,มั่นใจ,5300000.0,4500000.0,ราคาเสนอขาย 4.0 - 5.0 ล้านบาท/หลัง,ไม่มี,3 ขายได้ ใช้ระยะเวลา 7 - 12 เดือน,บ้านมือ 1
9,2.0,https://nayoo.co/khonkaen/posts/20,20.0,บ้านเดี่ยว,มั่นใจ,2000000.0,2500000.0,ราคาเสนอขาย 2.2-3.0 ล้านบาท/หลัง,ไม่มี,3 ขายได้ ใช้ระยะเวลา 7 - 12 เดือน,บ้านมือ 1

# 2 ทำนายสภาพอากาศ 10 คะแนน
เตรียมข้อมูลเพื่อทำนายสภาพอากาศของวันถัดไป โดย 
- กลุ่มที่ 1 และ 9 ทำนาย อุณหภูมิตุ้มแห้ง (Y)
- กลุ่มที่ 2 ทำนาย อุณหภูมิต่ำสุด (Y)
- กลุ่มที่ 3 ทำนาย อุณหภูมิจุดน้ำค้าง (Y)
- กลุ่มที่ 4 ทำนาย จำนวนเมฆ (Y)
- กลุ่มที่ 5 ทำนาย ปริมาณฝน (Y)
- กลุ่มที่ 6 ทำนาย ความชื้นสัมพัทธ์ (Y)
- กลุ่มที่ 7 ทำนาย ความกด (Y)
- กลุ่มที่ 8 ทำนาย ความเร็วลม (Y)

ลักษณะของ data เป็นดังนี้ Xi คือ features อื่นๆที่ใช้ในทำนาย และ Y คือค่าที่ต้องการทำนาย

![Screen Shot 2566-02-05 at 20.05.21.png]()

In [281]:
weather_data = pd.read_csv('/content/drive/MyDrive/bsc_DPDM_data/group_quiz.csv')
weather_data.head()

,จังหวัด,วัน,เดือน,ปี,ความกด,ความชื้น,อุณหภูมิตุ้มแห้ง,อุณหภูมิจุดน้ำค้าง,อุณหภูมิตำ่สุด,จำนวนเมฆ,ปริมาณฝน,ความเร็วลม,date
0,ขอนแก่น,1,10,2011,1005.47,83,27.6,24.2,24.8,9,1.4,3,2011-10-01
1,ขอนแก่น,2,10,2011,1006.65,92,25.6,24.0,23.0,10,17.7,2,2011-10-02
2,ขอนแก่น,3,10,2011,1007.49,86,25.6,22.9,22.1,10,3,3,2011-10-03
3,ขอนแก่น,4,10,2011,1008.28,80,25.8,21.9,22.8,8,0,2,2011-10-04
4,ขอนแก่น,5,10,2011,1009.88,86,24.3,21.7,23.1,10,2.2,2,2011-10-05